import React from 'react';
import Layout from '@styles/layout';
import {Container} from './styles'

interface I{{pascalCase name}} {

}

function {{pascalCase name}}({}: I{{pascalCase name}}) {
  return (
    <Layout>
      <div></div>
    </Layout>
  );
}

export default {{pascalCase name}};